.blogs {
  &-container {
    display: flex;
    max-width: 1024px;
    box-shadow: 6px 0px 8px #ccc, -6px 0px 8px #ccc;
  }
  article {
    background: #eee;
    flex: 1 1 0;
    padding: 20px 16px;
    .blog {
      flex-direction: column;
      display: flex;
      height: 130px;
      box-shadow: 2px 2px 2px 2px #555;
      padding: 6px;
      margin-bottom: 18px;
      &-title {
        font-size: 22px;
        line-height: 30px;
        flex: 0 0 30px;
        text-overflow: ellipsis;
      }
      &-digest {
        flex: 1 1 0;
      }
      &-info {
        font-size: 14px;
        line-height: 16px;
        flex: 0 0 16px;
        text-overflow: ellipsis;
      }
    }
  }
  aside {
    flex: 0 0 240px;
    section {
      padding: 6px;
      .title {
        font-size: 1.5em;
        height: 2em;
        line-height: 2em;
      }
    }
  }
  @media (max-width: 720px) {
    aside {
      display: none;
    }
  }
}
