{
  "extends": "airbnb-base",
  "parser": "@babel/eslint-parser",
  "env": {
    "browser": true
  },
  "rules": {
    "linebreak-style": "off",
    "arrow-body-style": "off"
  },
  "ignorePatterns": ["publish/*.html"]
}
