@import 'mixins';
@import 'functions';

.sidebar-item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  margin: 0.6em 0;

  &__title {
    flex: 1 1 auto;
    font-weight: 600;
    color: getColor(dove-grey);
    @include control-overflow;
  }

  @for $i from 1 through 6 {
    &-level-#{$i} {
      padding-left: #{$i - 1}em;
    }
  }
}
