<!DOCTYPE html>
<html lang="<%= htmlWebpackPlugin.options.zi18n.lang %>">
  <head>
    <meta charset="UTF-8" />
    <%= require('!!raw-loader!./common/analytics.html').default %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" href="./favicon.ico" />
    <title><%= htmlWebpackPlugin.options.zi18n.title %></title>
    <meta
      name="description"
      content="<%= htmlWebpackPlugin.options.zi18n.description %>"
    />
  </head>

  <body>
    <header>
      <h1 class="header-title">
        <span style="display: none">zjffun</span>
        <a href="<%= htmlWebpackPlugin.options.zi18n.mainHref %>">
          <%= htmlWebpackPlugin.options.zi18n.title %>
        </a>
      </h1>
      <div class="flex-spring"></div>
      <span class="header-left">
        <a class="header-left__lang" href="./index.html"> 中文 </a>
        <a class="header-left__lang" href="./index.en.html"> English </a>
      </span>
    </header>

    <main>
      <ul class="main-list">
        <li class="main-list__item">
          <a href="https://ctc.zjffun.com" target="_blank">
            <section>
              <h2 class="main-list__item__title">
                <%= htmlWebpackPlugin.options.zi18n.clickToComponent %>
              </h2>
              <p><%= htmlWebpackPlugin.options.zi18n.clickToComponentDesc %></p>
            </section>
          </a>
        </li>
        <li class="main-list__item">
          <a href="http://blog.zjffun.com" target="_blank">
            <section>
              <h2 class="main-list__item__title">
                <%= htmlWebpackPlugin.options.zi18n.blog %>
              </h2>
              <p><%= htmlWebpackPlugin.options.zi18n.blogDesc %></p>
            </section>
          </a>
        </li>
        <li class="main-list__item">
          <a href="https://github.com/zjffun" target="_blank">
            <section>
              <h2 class="main-list__item__title">
                <%= htmlWebpackPlugin.options.zi18n.github %>
              </h2>
              <p><%= htmlWebpackPlugin.options.zi18n.githubDesc %></p>
            </section>
          </a>
        </li>
        <li class="main-list__item">
          <a href="https://aacgg.com/recommend?name=zjffun" target="_blank">
            <section>
              <h2 class="main-list__item__title">
                <%= htmlWebpackPlugin.options.zi18n.aacggRecommend %>
              </h2>
              <p><%= htmlWebpackPlugin.options.zi18n.aacggRecommendDesc %></p>
            </section>
          </a>
        </li>
        <li class="main-list__item">
          <a
            href="https://marketplace.visualstudio.com/items?itemName=zjffun.snippetsmanager"
            target="_blank"
          >
            <section>
              <h2 class="main-list__item__title">
                <%= htmlWebpackPlugin.options.zi18n.vscodesm %>
              </h2>
              <p><%= htmlWebpackPlugin.options.zi18n.vscodesmDesc %></p>
            </section>
          </a>
        </li>
        <li class="main-list__item">
          <a
            href="https://marketplace.visualstudio.com/items?itemName=zjffun.gotofolder"
            target="_blank"
          >
            <section>
              <h2 class="main-list__item__title">
                <%= htmlWebpackPlugin.options.zi18n.vscodeGoToFolder %>
              </h2>
              <p><%= htmlWebpackPlugin.options.zi18n.vscodeGoToFolder %></p>
            </section>
          </a>
        </li>
        <li class="main-list__item">
          <a
            href="https://github.com/zjffun/vue-click-to-component"
            target="_blank"
          >
            <section>
              <h2 class="main-list__item__title">
                <%= htmlWebpackPlugin.options.zi18n.vueClickToComponent %>
              </h2>
              <p>
                <%= htmlWebpackPlugin.options.zi18n.vueClickToComponentDesc %>
              </p>
            </section>
          </a>
        </li>
        <li class="main-list__item">
          <a
            href="https://marketplace.visualstudio.com/items?itemName=zjffun.dependency-dependent"
            target="_blank"
          >
            <section>
              <h2 class="main-list__item__title">
                <%= htmlWebpackPlugin.options.zi18n.vscodeDependencyDependent %>
              </h2>
              <p>
                <%=
                htmlWebpackPlugin.options.zi18n.vscodeDependencyDependentDesc %>
              </p>
            </section>
          </a>
        </li>
        <li class="main-list__item">
          <a href="https://dochub.zjffun.com" target="_blank">
            <section>
              <h2 class="main-list__item__title">
                <%= htmlWebpackPlugin.options.zi18n.dochub %>
              </h2>
              <p><%= htmlWebpackPlugin.options.zi18n.dochubDesc %></p>
            </section>
          </a>
        </li>
        <li class="main-list__item">
          <a href="http://bb-embed.zjffun.com" target="_blank">
            <section>
              <h2 class="main-list__item__title">
                <%= htmlWebpackPlugin.options.zi18n.bbEmbed %>
              </h2>
              <p><%= htmlWebpackPlugin.options.zi18n.bbEmbedDesc %></p>
            </section>
          </a>
        </li>
        <li class="main-list__item">
          <a href="http://yt-embed.zjffun.com" target="_blank">
            <section>
              <h2 class="main-list__item__title">
                <%= htmlWebpackPlugin.options.zi18n.ytEmbed %>
              </h2>
              <p><%= htmlWebpackPlugin.options.zi18n.ytEmbedDesc %></p>
            </section>
          </a>
        </li>
        <li class="main-list__item">
          <a href="http://tft.zjffun.com" target="_blank">
            <section>
              <h2 class="main-list__item__title">
                <%= htmlWebpackPlugin.options.zi18n.tftHelper %>
              </h2>
              <p><%= htmlWebpackPlugin.options.zi18n.tftHelperDesc %></p>
            </section>
          </a>
        </li>
        <li class="main-list__item">
          <a
            href="https://zjffun.github.io/js-async-visualization/?example=0"
            target="_blank"
          >
            <section>
              <h2 class="main-list__item__title">
                <%= htmlWebpackPlugin.options.zi18n.jsav %>
              </h2>
              <p><%= htmlWebpackPlugin.options.zi18n.jsavDesc %></p>
            </section>
          </a>
        </li>
        <li class="main-list__item">
          <a>
            <section>
              <p><%= htmlWebpackPlugin.options.zi18n.truth1 %></p>
              <p><%= htmlWebpackPlugin.options.zi18n.truth2 %></p>
              <p><%= htmlWebpackPlugin.options.zi18n.truth3 %></p>
            </section>
          </a>
        </li>
      </ul>
    </main>
  </body>
</html>
