<!DOCTYPE html>
<html lang="<%= htmlWebpackPlugin.options.zi18n.lang %>">
  <head>
    <meta charset="UTF-8" />
    <%= require('!!raw-loader!./common/analytics.html').default %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>zjffun</title>
  </head>

  <body>
    <header>
      <h1 class="header-title">
        <a href="<%= htmlWebpackPlugin.options.zi18n.mainHref %>">
          <%= htmlWebpackPlugin.options.zi18n.title %>
          <!-- 2021 新年快乐 -->
          <!-- 仅是一个用来自我满足的个人网站 -->
          <!-- 仅是一个希望以乐趣为核心的个人网站 -->
        </a>
      </h1>
      <div class="flex-spring"></div>
      <span class="header-left">
        <a class="header-left__lang" href="./index.html"> 中文 </a>
        <a class="header-left__lang" href="./index.en.html"> English </a>
      </span>
    </header>

    <main>
      <ul class="main-list">
        <li class="main-list__item">
          <a href="http://note.zjffun.com">
            <section>
              <h2 class="main-list__item__title">
                <%= htmlWebpackPlugin.options.zi18n.note %>
              </h2>
              <p><%= htmlWebpackPlugin.options.zi18n.noteDesc %></p>
              <img
                class="main-list__item__img"
                src="<%= require('../src/assets/images/twilight.svg') %>"
                alt=""
              />
            </section>
          </a>
        </li>
        <li class="main-list__item">
          <a href="http://blog.zjffun.com">
            <section>
              <h2 class="main-list__item__title">
                <%= htmlWebpackPlugin.options.zi18n.blog %>
              </h2>
              <p><%= htmlWebpackPlugin.options.zi18n.blogDesc %></p>
              <img
                class="main-list__item__img"
                src="<%= require('../src/assets/images/rarity.svg') %>"
                alt=""
              />
            </section>
          </a>
        </li>
        <li class="main-list__item">
          <a href="tools.html">
            <section>
              <h2 class="main-list__item__title">
                <%= htmlWebpackPlugin.options.zi18n.tools %>
              </h2>
              <p><%= htmlWebpackPlugin.options.zi18n.toolsDesc %></p>
              <img
                class="main-list__item__img"
                src="<%= require('../src/assets/images/applejack.svg') %>"
                alt=""
              />
            </section>
          </a>
        </li>
        <li class="main-list__item">
          <a href="docs.html">
            <section>
              <h2 class="main-list__item__title">
                <%= htmlWebpackPlugin.options.zi18n.docs %>
              </h2>
              <p><%= htmlWebpackPlugin.options.zi18n.docsDesc %></p>
              <img
                class="main-list__item__img"
                src="<%= require('../src/assets/images/pinkiepie.svg') %>"
                alt=""
              />
            </section>
          </a>
        </li>
        <li class="main-list__item">
          <a href="http://tft.zjffun.com">
            <section>
              <h2 class="main-list__item__title">
                <%= htmlWebpackPlugin.options.zi18n.tftHelper %>
              </h2>
              <p><%= htmlWebpackPlugin.options.zi18n.tftHelperDesc %></p>
              <img
                class="main-list__item__img"
                src="<%= require('../src/assets/images/rainbowdash.svg') %>"
                alt=""
              />
            </section>
          </a>
        </li>
        <li class="main-list__item">
          <a href="https://zjffun.github.io/js-async-visualization/?example=0">
            <section>
              <h2 class="main-list__item__title">
                <%= htmlWebpackPlugin.options.zi18n.jsav %>
              </h2>
              <p><%= htmlWebpackPlugin.options.zi18n.jsavDesc %></p>
              <img
                class="main-list__item__img"
                src="<%= require('../src/assets/images/fluttershy.svg') %>"
                alt=""
              />
            </section>
          </a>
        </li>
        <li class="main-list__item">
          <a>
            <section>
              <p><%= htmlWebpackPlugin.options.zi18n.truth1 %></p>
              <p><%= htmlWebpackPlugin.options.zi18n.truth2 %></p>
            </section>
          </a>
        </li>
        <li class="main-list__item">
          <a>
            <section>
              <p><%= htmlWebpackPlugin.options.zi18n.truth3 %></p>
            </section>
          </a>
        </li>
        <li class="main-list__item">
          <div class="main-list__item-container">
            <section class="site-record">
              <h2 class="main-list__item__title">
                <%= htmlWebpackPlugin.options.zi18n.info %>
              </h2>
              <p>
                <a
                  target="_blank"
                  href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010802028993"
                >
                  <img
                    src="http://www.beian.gov.cn/img/new/gongan.png"
                    alt=""
                  />京公网安备 11010802028993号
                </a>
              </p>
              <p>京ICP备2020046328号</p>
            </section>
          </div>
        </li>
      </ul>
    </main>
  </body>
</html>
