<!DOCTYPE html>
<html lang="<%= htmlWebpackPlugin.options.zi18n.lang %>">
  <head>
    <meta charset="UTF-8" />
    <%= require('!!raw-loader!./common/analytics.html').default %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= htmlWebpackPlugin.options.zi18n.title %></title>
    <meta
      name="description"
      content="<%= htmlWebpackPlugin.options.zi18n.description %>"
    />
  </head>

  <body>
    <header>
      <h1 class="header-title">
        <span style="display: none">zjffun</span>
        <a href="<%= htmlWebpackPlugin.options.zi18n.mainHref %>">
          <%= htmlWebpackPlugin.options.zi18n.title %>
        </a>
      </h1>
      <div class="flex-spring"></div>
      <span class="header-left">
        <a class="header-left__lang" href="./index.html"> 中文 </a>
        <a class="header-left__lang" href="./index.en.html"> English </a>
      </span>
    </header>

    <main>
      <ul class="main-list">
        <li class="main-list__item">
          <a href="https://dochub.zjffun.com">
            <section>
              <h2 class="main-list__item__title">
                <%= htmlWebpackPlugin.options.zi18n.dochub %>
              </h2>
              <p><%= htmlWebpackPlugin.options.zi18n.dochubDesc %></p>
            </section>
          </a>
        </li>
        <li class="main-list__item">
          <a href="http://blog.zjffun.com">
            <section>
              <h2 class="main-list__item__title">
                <%= htmlWebpackPlugin.options.zi18n.blog %>
              </h2>
              <p><%= htmlWebpackPlugin.options.zi18n.blogDesc %></p>

              <img
                class="main-list__item__img"
                src="<%= require('../src/assets/images/twilight.svg') %>"
                alt=""
              />
            </section>
          </a>
        </li>
        <li class="main-list__item">
          <a class="main-list__item__rarity" href="https://github.com/zjffun">
            <section>
              <h2 class="main-list__item__title">
                <%= htmlWebpackPlugin.options.zi18n.github %>
              </h2>
              <p><%= htmlWebpackPlugin.options.zi18n.githubDesc %></p>

              <img
                class="main-list__item__img"
                src="<%= require('../src/assets/images/applejack.svg') %>"
                alt=""
              />
            </section>
          </a>
        </li>
        <li class="main-list__item">
          <a
            href="https://marketplace.visualstudio.com/items?itemName=zjffun.snippetsmanager"
          >
            <section>
              <h2 class="main-list__item__title">
                <%= htmlWebpackPlugin.options.zi18n.vscodesm %>
              </h2>
              <p><%= htmlWebpackPlugin.options.zi18n.vscodesmDesc %></p>

              <img
                class="main-list__item__img"
                src="<%= require('../src/assets/images/rarity.svg') %>"
                alt=""
              />
            </section>
          </a>
        </li>
        <li class="main-list__item">
          <a
            href="https://marketplace.visualstudio.com/items?itemName=zjffun.gotofolder"
          >
            <section>
              <h2 class="main-list__item__title">
                <%= htmlWebpackPlugin.options.zi18n.vscodeGoToFolder %>
              </h2>
              <p><%= htmlWebpackPlugin.options.zi18n.vscodeGoToFolder %></p>

              <img
                class="main-list__item__img"
                src="<%= require('../src/assets/images/rainbowdash.svg') %>"
                alt=""
              />
            </section>
          </a>
        </li>
        <li class="main-list__item">
          <a href="https://github.com/zjffun/vue-click-to-component">
            <section>
              <h2 class="main-list__item__title">
                <%= htmlWebpackPlugin.options.zi18n.vueClickToComponent %>
              </h2>
              <p>
                <%= htmlWebpackPlugin.options.zi18n.vueClickToComponentDesc %>
              </p>

              <img
                class="main-list__item__img"
                src="<%= require('../src/assets/images/fluttershy.svg') %>"
                alt=""
              />
            </section>
          </a>
        </li>
        <li class="main-list__item">
          <a
            href="https://marketplace.visualstudio.com/items?itemName=zjffun.dependency-dependent"
          >
            <section>
              <h2 class="main-list__item__title">
                <%= htmlWebpackPlugin.options.zi18n.vscodeDependencyDependent %>
              </h2>
              <p>
                <%=
                htmlWebpackPlugin.options.zi18n.vscodeDependencyDependentDesc %>
              </p>

              <img
                class="main-list__item__img"
                src="<%= require('../src/assets/images/pinkiepie.svg') %>"
                alt=""
              />
            </section>
          </a>
        </li>
        <li class="main-list__item">
          <a href="http://bb-embed.zjffun.com">
            <section>
              <h2 class="main-list__item__title">
                <%= htmlWebpackPlugin.options.zi18n.bbEmbed %>
              </h2>
              <p><%= htmlWebpackPlugin.options.zi18n.bbEmbedDesc %></p>
            </section>
          </a>
        </li>
        <li class="main-list__item">
          <a href="http://yt-embed.zjffun.com">
            <section>
              <h2 class="main-list__item__title">
                <%= htmlWebpackPlugin.options.zi18n.ytEmbed %>
              </h2>
              <p><%= htmlWebpackPlugin.options.zi18n.ytEmbedDesc %></p>
            </section>
          </a>
        </li>
        <li class="main-list__item">
          <a href="http://tft.zjffun.com">
            <section>
              <h2 class="main-list__item__title">
                <%= htmlWebpackPlugin.options.zi18n.tftHelper %>
              </h2>
              <p><%= htmlWebpackPlugin.options.zi18n.tftHelperDesc %></p>
            </section>
          </a>
        </li>
        <li class="main-list__item">
          <a href="https://zjffun.github.io/js-async-visualization/?example=0">
            <section>
              <h2 class="main-list__item__title">
                <%= htmlWebpackPlugin.options.zi18n.jsav %>
              </h2>
              <p><%= htmlWebpackPlugin.options.zi18n.jsavDesc %></p>
            </section>
          </a>
        </li>
        <li class="main-list__item">
          <a>
            <section>
              <p><%= htmlWebpackPlugin.options.zi18n.truth1 %></p>
              <p><%= htmlWebpackPlugin.options.zi18n.truth2 %></p>
              <p><%= htmlWebpackPlugin.options.zi18n.truth3 %></p>
            </section>
          </a>
        </li>
      </ul>
    </main>
  </body>
</html>
