@import url(../reset.css);

:root {
  --twilight-sparkle: #da9cee;
  --rarity: #eaedf4;
  --flutter-shy: #fdf7ac;
  --rainbow-dash: #9bddf6;
  --apple-jack: #fabb66;
  --pinkie-pie: #f3b9d0;
  --ditzy-doo: #c0c7d4;
  --princess-luna: #363d80;
  --rarity2: #726abe;
}

$top-and-bottom: linear-gradient(
  to right,
  var(--twilight-sparkle),
  var(--rainbow-dash)
);

html {
  color: var(--princess-luna);
  background: var(--rarity);
  height: 100%;
  &::after {
    display: block;
    background-image: $top-and-bottom;
    height: 5px;
    content: '';
  }
}

body {
  min-height: calc(100% - 5px);
}

header {
  display: flex;
  border-bottom: 1px solid var(--pinkie-pie);
  .logo {
    padding: 14px 20px;
    position: relative;
    a {
      font-size: 1.3rem;
      text-decoration: none;
      color: var(--princess-luna);
      letter-spacing: 0.05em;
      &::before {
        background-image: $top-and-bottom;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 5px;
        content: '';
      }
      &:focus,
      &:hover,
      &:active {
        color: var(--princess-luna);
      }
    }
  }
}

@media screen and (max-width: 576px) {
  header {
    .logo {
      padding-left: 10px;
      padding-right: 10px;
      width: 100%;
      a {
        width: 100%;
        font-size: 1rem;
      }
    }
  }
}

main {
  margin: 0 auto;
  max-width: 1600px;
  padding: 20px 20px;

  .main-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -5px;
    &__item {
      $img-height: 60px;
      flex: 1 1 350px;
      min-height: 150px;
      margin: 5px;
      background: var(--ditzy-doo);
      &:nth-child(1) {
        background: var(--twilight-sparkle);
      }
      &:nth-child(2) {
        background: var(--rarity2);
        > a {
          color: var(--rarity);
        }
      }
      &:nth-child(3) {
        background: var(--apple-jack);
      }
      &:nth-child(4) {
        background: var(--pinkie-pie);
      }
      &:nth-child(5) {
        background: var(--rainbow-dash);
      }

      &__title {
        padding-bottom: 0.2em;
        font-size: 1.2rem;
        text-shadow: 0 1px 1px hsla(0, 0%, 100%, 0.3);
      }
      &__img {
        position: absolute;
        right: 0;
        bottom: 0;
        height: $img-height;
      }

      & > a,
      &-container {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        padding: 10px;
        padding-bottom: $img-height;
        color: var(--princess-luna);
        text-decoration: none;

        @media screen and (max-width: 576px) {
          font-size: 1rem;
        }
      }

      & > a {
        &:visited {
          color: var(--princess-luna);
        }
        &:focus,
        &:hover,
        &:active {
          // color: var(--twilight-sparkle);
          box-shadow: -2px -2px 4px #77777777, 2px 2px 4px #ffffff77;
        }
        &:not([href]) {
          &:hover {
            box-shadow: none;
          }
        }
      }
    }
  }

  .site-record {
    p {
      line-height: 2em;
    }
    a {
      color: var(--princess-luna);
      img {
        width: 1.4em;
        vertical-align: middle;
        padding-right: 0.2em;
      }
    }
  }
}
